Список требований для внешних интеграций:
- данные между системами передаются в зашифрованном виде
- взаимодействие между PropDevelopment и внешней платформой осуществляется с использованием протокола https
- аутенификация реализована по двухфакторному сценарию - помимо пароля необходимо наличие токена
- для части сервисов (функционал ограничен) аутентификация осуществляется с использованием биометрии, либо распознование номера автомобиля, либо путем наличия телефона в БД
- аутентификация осуществляется по протоколу OAuth 2.0
- при авторизации используется принцип наименьших привелегий. Пример иерархии ролей (от полного доступа к ограниченному):  Администратор->Менеджер->Собственник->Доверенное лицо->Гость. Где "доверенное лицо" имеет доступ к части функционала (например, находится в списке разрешенных лиц к открытию домофона).